/* Generic, reusable styles to complement Tailwind utility classes */
/* This file imports all modular CSS files */

@import './variables.css';
@import './base.css';
@import './layout.css';
@import './typography.css';
@import './forms.css';
@import './buttons.css';
@import './cards.css';
@import './images.css';
@import './modals.css';
@import './badges.css';
@import './prices.css';
@import './admin.css';
@import './navbar.css';
@import './hero.css';
@import './search.css';
@import './shop.css';
@import './products.css';
@import './cart.css';
@import './utilities.css';
@import './footer.css';
@import './promotional.css';
@import './home-sections.css';
@import './product-detail.css';
