/* Typography Classes */

.heading-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.text-muted {
  color: var(--muted);
  font-size: 0.875rem;
}

.text-error {
  color: #dc2626;
  font-size: 0.875rem;
}

.text-success {
  color: #059669;
  font-size: 0.875rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


